@import '~primereact/resources/themes/saga-blue/theme.css';
@import '~primereact/resources/primereact.min.css';

.toolbar-container {
    display: flex;
    justify-content: space-between;
}

.p-inputtext {
    border-radius: 6px;
    height: 38px;
    border: 1px solid #dcdcdc;
}

.metrophobic-regular {
    font-family: "Metrophobic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}